<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/barebones.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/normalize.css') }}">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <title>Blog Created! | Cryzig</title>
</head>
<body align='center'>
    <h1>Blog Created Sucessfully!</h1>
    <h5 align="center"><a class="button button-primary" href="/blogs">All Blogs</a> <a class="button button-primary" href="/createblog">Create a new Blog</a> <a class="button button-primary" href="/delete">Delete a Blog</a></h5>
</body>
</html>